<% root = @output.output['to-build'] %>
<html>
<title>Say it does...<%=root['name']%>-<%=root['version']%></title>
<body>
  <%=gen_features root%>  
  <%=gen_capabilities root%>
  <%=gen_requires root, @output %>
</body>
</html>